@font-face {
    font-family: "MywebFont1";
    src:
        /*url("fonts/droidnaskh-regular-webfont.svg") format("svg"),*/
        /*url("fonts/droidnaskh-regular-webfont.eot");!* IE 9*!*/
        /*url("fonts/droidnaskh-regular-webfont.eot") format("eot") ,  !*IE 6-7*!*/
            url("fonts/pf_isotext_pro_light-webfont.woff") format("opentype"), /* Other Browser  */
            url("fonts/pf_isotext_pro_light-webfont.ttf") format("truetype") ; /* Safari Android IOS */
    /*url("fonts/droidnaskh-regular-webfont.woff2") format("woff2"),*/
    /*url("fonts/droidnaskh-regular-webfont.woff") format("woff");*/
    font-weight: normal;
}
@font-face {
    font-family: "MywebFont";
    src: /*    url("fonts/droidnaskh-bold-webfont.svg") format("svg"),*/
        /*url("fonts/droidnaskh-bold-webfont.eot");!* IE 9*!*/
        /*url("fonts/droidnaskh-bold-webfont.eot") format("eot") ,  !*IE 6-7*!*/
            url("fonts/pf_isotext_pro_regular-webfont.woff") format("opentype"), /* Other Browser  */
            url("fonts/pf_isotext_pro_regular-webfont.ttf") format("truetype");  /* Safari Android IOS */
    /*url("fonts/droidnaskh-bold-webfont.woff2") format("woff2"),*/
    /*url("fonts/droidnaskh-bold-webfont.woff") format("woff");*/
    font-weight: bold;
}

html , body ,tr ,td, p , a , li , h1, h2, h3, h4, h5,  input
{
    font-size: 100%;
    font-family: "MywebFont" !important;
}
body {

    font-family: "MywebFont" !important;
}

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
    /*html, body, #wrapper, #page-wrapper {height: 100%; overflow: hidden;}*/
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}
#wrapper > nav {
    background:-webkit-gradient(linear, 31% 100%, 0% 100%, from(#334054), to(#273036), color-stop(1,#283245));
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 22px 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    color: #fff;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #1a242f;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    /*border: 1px solid rgba(0,0,0,.15);*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 60px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        border-top: 1px rgba(0,0,0,.5) solid;
        overflow-y: auto;
        background-color: #222;
        /*background-color: #5A6B7D;*/
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
        border-bottom: 1px rgba(0,0,0,.3) solid;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #1a242f !important;
    }
}
.side-nav>li>ul {
    padding: 0;
    border-bottom: 1px rgba(0,0,0,.3) solid;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
        /*color: #999;*/
    color: #fff;
}
div.collapse.navbar-collapse.navbar-ex1-collapse > ul
{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#242D3B), to(#242D32), color-stop(.6,#344159));
padding-top: 100px;
}
.side-nav>li>ul>li>a:hover {
    color: #fff;
}

.navbar .nav > li > a > .label {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 14px;
    right: 6px;
    min-width: 15px;
    min-height: 15px;
    line-height: 1em;
    text-align: center;
    padding: 2px;
}
div.collapse.navbar-collapse.navbar-ex1-collapse > ul > li > a {
    font-size: 1.2em;
}
.navbar .nav > li > a:hover > .label {
    top: 10px;
}

.navbar-brand {
    padding: 5px 15px;
}




hr {

}
.hr-warning{
	background : rgba(210,105,30,.8);
 
 /* background: -webkit-linear-gradient(left, rgba(210,105,30,.8), rgba(210,105,30,.6), rgba(0,0,0,0));*/
   }
.hr-success{
 background-color : rgba(15,157,88,.8);
	
	background-image: -webkit-linear-gradient(left, rgba(15,157,88,.8), rgba(15, 157, 88,.6), rgba(0,0,0,0));
 background-color : rgba(15,157,88,.8);
}
.hr-primary{
  background-image: -webkit-linear-gradient(left, rgba(66,133,244,.8), rgba(66, 133, 244,.6), rgba(0,0,0,0));
 background-color : rgba(66,133,244,.8);

}
.hr-danger{
  background-image: -webkit-linear-gradient(left, rgba(244,67,54,.8), rgba(244,67,54,.6), rgba(0,0,0,0));
 background-color :rgba(244,67,54,.8);

}
.accordion-group {
	
background-color :rgba(244,67,54,.8);	

background :-webkit-gradient(linear, 0% 18%, 100% 100%, from(#38CF8E), to(#B8FFB0), color-stop(.6,#7AD693));
}